.navbar {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  width: 92%;
  height: 72px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 25px;
  font-weight: 800;
  color: #111827;
}

.logo span {
  color: #2563eb;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 28px;
}

.nav-links a {
  color: #4b5563;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #2563eb;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 18px;
}

.login-link {
  color: #374151;
  font-weight: 500;
}

.register-btn {
  padding: 10px 18px;
  background: #2563eb;
  color: white;
  border-radius: 7px;
  font-weight: 600;
}

.register-btn:hover {
  background: #1d4ed8;
}

@media (max-width: 850px) {
  .nav-links {
    display: none;
  }
}

@media (max-width: 500px) {
  .login-link {
    display: none;
  }

  .logo {
    font-size: 22px;
  }
}