.career-page {
  max-width: 1100px;
  width: 92%;
  margin: auto;
  padding: 70px 0;
}

.career-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.career-card {
  background: white;
  border: 1px solid #e5e7eb;
  padding: 28px;
  border-radius: 12px;
  transition: 0.3s;
}

.career-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
}

.career-card > div {
  font-size: 35px;
  margin-bottom: 18px;
}

.career-card h2 {
  font-size: 19px;
  margin-bottom: 10px;
}

.career-card p {
  color: #64748b;
  line-height: 1.6;
  font-size: 14px;
}

.career-card button {
  margin-top: 20px;
  border: none;
  background: none;
  color: #2563eb;
  font-weight: 600;
}

@media (max-width: 800px) {
  .career-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .career-grid {
    grid-template-columns: 1fr;
  }
}